.about {
    background-color: honeydew;
    height: 420px;
    padding-top: 130px;
    text-align: center;
}
.about h2 {
    margin-bottom: 20px;
}
.about p {
    margin-bottom: 5px;
}
.about p a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(5, 5, 5, 0.795);
}
.about p a:hover {
    font-style: italic;
}